.container {
  margin: 3%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /*padding: 10px;*/
}

.grid-item {
  border: 1px solid rgba(0, 0, 0);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 4;
  margin-top: auto;
  margin-bottom: auto;
}
.item2 {
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 3rem;
}

.grid-container > label,
.grid-container > h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.confButton {
  float: right;
  margin-top: 100px;
  background: #add8e6;
  border: 1px solid #000;
}
.conferenceContainer{
  width: 100%;
}
.conferenceSider .ant-menu-item > a{
  display: inline;
}
.confButton {
  background: #40a8ff;
  border-radius: 6px;
  padding: 5px 20px;
  color: white;
  font-size: 1.4rem;
}

#b1 {
  float: left;
}

#b2 {
  float: right;
}
