.EventsPage {
    width: 100%;
}

.layout {
    background-color: white;
}

.sider {
    border-right: 1px solid gray;
}

.eventName {
    font-size: 33px;
    overflow: hidden;
    padding-right: 20px;
}

.eventInfo, .authorActivities {
    flex-shrink: 0;
}

.eventInfo {
    width: 30%;
    min-width: 320px;
    display: flex;
    align-items: center;

}

.eventItem{
    padding-left: 30px;
    padding-right: 20px;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    cursor: pointer;
}

.eventPage_chosenAuthor{
    width: 30%;
    margin-right: 10px;
    font-size: 33px;
    display: inline-flex;
    flex-direction: column;
}
.eventPage_articleTitle{
    width: 35%;
    margin-right: 10px;
    font-size: 33px;

}
.eventPage_date{
    flex-grow: 2;
    margin-right: 10px;
    font-size: 18px;

}
.eventPage_rating{
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.eventPage_download{
    text-align: center;
    flex-grow: 1;
}
.eventPage_download a:not(:hover){
    color: currentColor;
}
.eventPage_download svg{
    height: 35px;
    width: 35px;
}

.eventPage_rating_stars{
    font-size: 15px;
    vertical-align: middle;
    padding-left: 15px;
}