*{
		margin: 0;
		padding: 0;
	}
body,html{
	width: 100%;
	height: 100%;
	background: #fffafa;
	margin: 0;
    padding: 0;
    outline: none;
	border: 4px;
	color: black;
}
.App-logo {
  height: 25vmin;
}
.content{
  background:;
  width: 100%;
  height: 100%;
  color: #282828;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inform{
	width: 70%;

}
.text{
	width: auto;
	height: auto; 
	float: left;
}
.text h2{
	margin: 4%;
}
.user{
	width: auto;
	height: auto; 
	float: right;
}
.bio{
	border:1px solid black;
	width: 70%;
	height: auto;

}
.bio hr{
	background: black;
	margin: 20px;
	width: 90%;
}